@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Caveat&family=Itim&family=Shantell+Sans:ital,wght@1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-input-placeholder {
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 55s none infinite;
}

@keyframes bg {
  from {
    background: rgba(210, 250, 212, 0.11);
  }
  50% {
    background: rgba(255, 246, 185, 0.11);
  }
  to {
    background: rgba(141, 141, 141, 0.11);
  }
}

.bgCircle {
  animation: bg 1.5s infinite;
}

 
